@model List<MVC_Template.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>If the connection to the database is working then the Product name for the first product in the database will be displayed below</p>
    <h1 class="display-4">PartName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!--"Model.ElementAt(0).ProductName"-->